.article-right-items .row .article-section-title {
  font-size: 28px;
  font-weight: bold;
  color: #212631;
  margin-bottom: 25px;
}

.article-right-items .row .article-post-img .filter {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
  cursor: pointer;
}

.article-right-items .row .article-post-img .filter:hover {
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
  background-color: rgba(53, 53, 53, 0.137);
}
