@import "./mixins.scss";

.footer-widget {
    .footer-nav {
        ul {
            display: flex;
            li:not(:first-child) {
                margin-left: 15px;
            }
            li {
                a {
                    color: #a7b3c6;
                    transition: .2s color;
                }
                a:hover {
                    transition: .2s color;
                    color: #212631;
                }
            }
        }
    }
    .footer-copyright {
        color: #a7b3c6;
        font-size: 13px;
        span {
            a:hover {
                transition: .2s color;
                color: #212631;
            }
        }
    }
}

.footer-title {
    font-size: 18px;
    font-weight: 700;
    color: #212631;
}

.footer-lists {
    ul {
        li {
            a {
                font-weight: 600;
                color: #a7b3c6;
                transition: .2s color;
            }
            a:hover {
                color: #212631;
            }
        }
    }
}

.footer-contact {
    .footer-input {
        position: relative;
        input {
            height: 40px;
            border: 2px solid #eceef2;
            width: 100%;
            padding: 0 15px;
            transition: .2s border;
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
            height: 40px;
            line-height: 40px;
            width: 40px;
            text-align: center;
            color: #a7b3c6;
            background: transparent;
            border: none;
            border-radius: 0 2px 2px 0;
            transition: .2s opacity;
        }
    }
    .footer-socials {
       ul {
           li {
               a {
                display: block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background-color: #a7b3c6;
                color: #fff;
                border-radius: 2px;
                transition: .2s opacity;
               }
           }
       }
    }
}