.header-items {
    height: 67px;
    border-bottom: 1px solid #eceef2;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    display: block;
    transition: top 0.3s all ease;
    background-color: #fff;
    -webkit-box-shadow: 0 -1px 0 0 #eceef2 inset;
    box-shadow: 0 -1px 0 0 #eceef2 inset;
    animation: nav_anim .6s forwards;
}

@keyframes nav_anim {
    0% {
        transform: translateY(-100%);
    }
}

.header-logo {
    padding-top: 25px;
    padding-bottom: 25px;
}

nav {
    ul {
        margin-left: 20px;
        li {
            font-weight: 600;
            padding: 18px 25px;
            border-left: 1px solid #eceef2;
            cursor: pointer;
        }
        li:last-child {
            border-right: 1px solid #eceef2;
        }
    }
}

.header-search-form {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: .4s ease all;
    .search-input {
        width: 100%;
        height: 100%;
        padding: 0 15px;
    }
    .search-close {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        border: none;
        background: transparent;
        line-height: 20px;
        color: #212631;
        font-size: 22px;
        padding: 0;
    }
}

.header-btns .header-search-form.active {
    opacity: 1;
    visibility: visible;
}

// Aside
#nav-aside {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    // background-color: rgba(33,38,49,.5);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .2s all;
    transition: .2s all;
}

#nav-aside.active {
    opacity: 1;
    visibility: visible;
}

.aside-items {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    max-width: 360px;
    width: 100%;
    padding: 80px 20px;
    overflow-y: scroll;
    z-index: 99;
    transform: translateX(100%);
    transition: .3s all;
}

.aside-items.active {
    z-index: 999;
    transform: translateX(0%);
}

.nav-aside-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    // line-height: 70px;
    // text-align: center;
    background-color: transparent;
    color: #212631;
    border: none;
    font-size: 22px;
    // border-radius: 50%;
    padding: 0;
}

.post-items {
    .post-img {
        width: 90px;
        float: left;
        margin-right: 15px;
    }
}

.aside-socials li {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212631;
    color: #fff;
    border-radius: 2px;
    margin-right: 5px;
    cursor: pointer;
}

@media screen and (max-width: 853px) {
    .header-items {
        nav {
            display: none;
        }
    }
}